/* Links */
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* Make map tiles and marker layers lower */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  z-index: 0 !important;
}

/* Reset */
/* body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
} */

/* Page Transition Animation */
/* #page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-is-transitioning #page-content {
  opacity: 0;
}
 */